ops/Source/NuGetGallery.Operations/Service References/SqlDac/Microsoft.SqlServer.Management.Dac.ServiceTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.SqlServer.Management.Dac.ServiceTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.SqlServer.Management.Dac.ServiceTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExportInput">
    <xs:sequence>
      <xs:element name="BlobCredentials" nillable="true" type="tns:BlobCredentials">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConnectionInfo" nillable="true" type="tns:ConnectionInfo">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportInput" nillable="true" type="tns:ExportInput" />
  <xs:complexType name="BlobCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Uri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlobCredentials" nillable="true" type="tns:BlobCredentials" />
  <xs:complexType name="BlobSharedAccessKeyCredentials">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BlobCredentials">
        <xs:sequence>
          <xs:element minOccurs="0" name="SharedAccessKey" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BlobSharedAccessKeyCredentials" nillable="true" type="tns:BlobSharedAccessKeyCredentials" />
  <xs:complexType name="BlobStorageAccessKeyCredentials">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BlobCredentials">
        <xs:sequence>
          <xs:element minOccurs="0" name="StorageAccessKey" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BlobStorageAccessKeyCredentials" nillable="true" type="tns:BlobStorageAccessKeyCredentials" />
  <xs:complexType name="ConnectionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionInfo" nillable="true" type="tns:ConnectionInfo" />
  <xs:complexType name="SelectiveExportInput">
    <xs:sequence>
      <xs:element name="BlobCredentials" nillable="true" type="tns:BlobCredentials">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConnectionInfo" nillable="true" type="tns:ConnectionInfo">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Tables" nillable="true" type="tns:ArrayOfTableName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectiveExportInput" nillable="true" type="tns:SelectiveExportInput" />
  <xs:complexType name="ArrayOfTableName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TableName" nillable="true" type="tns:TableName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTableName" nillable="true" type="tns:ArrayOfTableName" />
  <xs:complexType name="TableName">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchemaName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableName" nillable="true" type="tns:TableName" />
  <xs:complexType name="ImportInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="AzureEdition" nillable="true" type="xs:string" />
      <xs:element name="BlobCredentials" nillable="true" type="tns:BlobCredentials">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConnectionInfo" nillable="true" type="tns:ConnectionInfo">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DatabaseSizeInGB" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportInput" nillable="true" type="tns:ImportInput" />
  <xs:complexType name="StatusInput">
    <xs:sequence>
      <xs:element name="Password" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element name="ServerName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="UserName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusInput" nillable="true" type="tns:StatusInput" />
  <xs:complexType name="ArrayOfStatusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusInfo" nillable="true" type="tns:StatusInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusInfo" nillable="true" type="tns:ArrayOfStatusInfo" />
  <xs:complexType name="StatusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlobUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModifiedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="QueuedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusInfo" nillable="true" type="tns:StatusInfo" />
</xs:schema>