Source/NuGetGallery.Operations/Service References/SqlDac/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Microsoft.SqlServer.Management.Dac.ServiceTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDACWebService_Export_InputMessage">
    <wsdl:part name="parameters" element="tns:Export" />
  </wsdl:message>
  <wsdl:message name="IDACWebService_Export_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportResponse" />
  </wsdl:message>
  <wsdl:message name="IDACWebService_SelectiveExport_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectiveExport" />
  </wsdl:message>
  <wsdl:message name="IDACWebService_SelectiveExport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectiveExportResponse" />
  </wsdl:message>
  <wsdl:message name="IDACWebService_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="IDACWebService_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="IDACWebService_PostStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:PostStatus" />
  </wsdl:message>
  <wsdl:message name="IDACWebService_PostStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IDACWebService_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IDACWebService_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IDACWebService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IDACWebService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="IDACWebService">
    <wsdl:operation name="Export">
      <wsdl:input wsaw:Action="http://tempuri.org/IDACWebService/Export" message="tns:IDACWebService_Export_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDACWebService/ExportResponse" message="tns:IDACWebService_Export_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectiveExport">
      <wsdl:input wsaw:Action="http://tempuri.org/IDACWebService/SelectiveExport" message="tns:IDACWebService_SelectiveExport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDACWebService/SelectiveExportResponse" message="tns:IDACWebService_SelectiveExport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://tempuri.org/IDACWebService/Import" message="tns:IDACWebService_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDACWebService/ImportResponse" message="tns:IDACWebService_Import_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IDACWebService/PostStatus" message="tns:IDACWebService_PostStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDACWebService/PostStatusResponse" message="tns:IDACWebService_PostStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IDACWebService/GetStatus" message="tns:IDACWebService_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDACWebService/GetStatusResponse" message="tns:IDACWebService_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IDACWebService/Test" message="tns:IDACWebService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDACWebService/TestResponse" message="tns:IDACWebService_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>